@model IEnumerable<DDD.OnlineStore.Domain.Model.Product>

@section top{
            <hgroup class="title">
                <h1>Welcome to DDD - Online Store Application</h1>
                 <br />
                <h2>take a look at the code to understand how it works.</h2>
            </hgroup>
            <p>
                This store contains some realy nice products. 
            </p>
}


<h3>Products</h3>

@using (Html.BeginForm("AddProductToShoppingCart", "Home", FormMethod.Post, new { id = "mainShoppingForm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("hdnProductID");
    @Html.Hidden("hdnQuantity"); 
                                
    
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                available quantity
                @*@Html.DisplayNameFor(model => model.Quantity)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)€
            </td>
            <td>
                @Html.TextBox("quantity_" + @item.ID , 1, new { style = "width:50px!important" })
                <a href="javascript:AddProductToShoppingCart('@item.ID')">buy</a>
            </td>
        </tr>
    }

    </table>
}