@using DDD.OnlineStore.Domain.Model;
@model ShoppingCart

@{
    ViewBag.Title = "Index";
}

@section top{
   <h1>Warenkorb</h1>
}


@if (this.Model != null){

    using (Html.BeginForm()) {
        <table>
            <tr>
                <th>Produktname</th>
                <th>Einzelpreis</th>
                <th>Menge</th>
                <th>Preis</th>
            </tr>
        @foreach(OrderItem item in Model.Items)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.PriceOfSingleProduct €</td>
                <td>@Html.TextBox("Menge_" + @item.ProductID, item.Quantity, new { style = "width: 50px !important;" })</td>
                <td>@item.TotalCosts €</td>
            </tr>    
        }
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td>Anzahl verschiedener Produkte: </td>
                <td colspan="3">@Model.QuantityUniqueItems</td>
            </tr>
            <tr>
                <td>Gesamtmenge alle Produkte</td>
                <td colspan="3">@Model.QuantityAllItems</td>
            </tr>
            <tr>
                <td>Zu zahlender Betrag: </td>
                <td colspan="3">@Model.TotalCosts €</td>
            </tr>
        </table>
        <br />

            <input type="submit" value="aktualisieren" style="float:left" />
    }    


    using (Html.BeginForm("PurchaseCurrentShoppingCart", "ShoppingCart"))
    {
            <input type="submit" value="Bestellung abgeben..." />
    }
} else {
    <p>no products in the shopping cart.</p>
}