@using System.Linq
@using DDD.OnlineStore.Application.Web.Models

@model IEnumerable<UserModel>

@section top{
   <h1>Alle Benutzer</h1>
}

<p>
    @Html.ActionLink("Create New", "CreateUser")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginName)
        </th>
        <th>
            Rollen
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedRoles)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })

        </td>
    </tr>
}
</table>