@model DDD.OnlineStore.Application.Web.Models.ProductModel

@section top{
   <h1>Produkt bearbeiten</h1>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Product</legend>
        <div class="editor-form-left">
            <div class="editor-item">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-item">
                @Html.LabelFor(model => model.Quantity)
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
            <div class="editor-item">
                @Html.LabelFor(model => model.Price)
                @Html.EditorFor(model => model.Price)€
                @Html.ValidationMessageFor(model => model.Price)
            </div>
            @Html.HiddenFor(model => model.ID)
        </div>
        
        <div class="editor-form-right">
              @Html.EditorFor(model => model.AvailableCategories)
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

